@using System.Web.Optimization

@{
    ViewBag.Title = "Index";
}

@section scripts {
    @Scripts.Render("~/bundles/js/react")
    @Scripts.Render("~/bundles/js/utils")
    @Scripts.Render("~/bundles/js/app")
}

<h2>Index</h2>

<div id="react_app"></div>

