<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DesignModel" connectionString="data source=(LocalDb)\v11.0;initial catalog=DataLayer.Design.DesignModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DesignModelContainer" connectionString="metadata=res://*/Design.DesignModel.csdl|res://*/Design.DesignModel.ssdl|res://*/Design.DesignModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEA;initial catalog=GeoBase;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GeoModel" connectionString="data source=SEA;initial catalog=GeoBase;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>