@{
    Response.Headers["X-UA-Compatible"] = "IE=10";
}

<!-- Website content: START -->
<header data-ng-include="'Scripts/app/school/Kernel/views/header.html'"></header>
<div class="container website-content">
    <div id="page-is-loading" class="row loading-interceptor text-center">
        <div class="col-md-12">
            Loading ...
        </div>
    </div>
    <div id="dynamic-content" class="view" data-ui-view></div>
</div>
<footer data-ng-include="'Scripts/app/school/Kernel/views/footer.html'"></footer>
<!-- Website content: END -->

